/* GENERAL SETTINGS
------------------------- */

@font-face {
  font-family: "Poppins";
  src: url("police/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("police/Gilroy-ExtraBold.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgba(166, 175, 189, 0.3);
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy-ExtraBold", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.title_section {
  font-size: 70px;
  text-transform: uppercase;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  margin-top: 0;
  margin-bottom: 25px;
}

/* GENERAL SETTINGS 
 -------------------------------------*/

/* DEBUT PARAMETRE HOME
----------------------------------------*/

.topnav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav_bar_scroll {
  background-color: rgba(166, 175, 189, 0.3) !important;
  background-color: #1111119e !important;
  -webkit-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.nav_bar_scroll a:hover {
  color: #03b5d2;
}

.nav_bar_scroll a:hover {
  color: #03b5d2;
}

.nav_bar_scroll i:hover {
  color: #03b5d2;
}

.icon_responsive {
  display: none;
}

.topnav_link {
  color: white;
  padding: 12px;
  text-decoration: none;
}

#topnav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: sticky;
  z-index: 5;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.social {
  list-style-type: none;
}

.main_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_logo p {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin-right: 100px;
}

.logo {
  width: 62px;
  margin-right: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

ul a:hover {
  color: black;
}

.fab:hover {
  color: black;
}

li {
  padding: 10px;
}

ul li {
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

img.logo-main {
  width: 18%;
  max-width: 100%;
  height: auto;
  padding-right: 9px;
}

#slider {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 100vh;
  padding: 5% 0;
  z-index: 3;
}

.background_img {
  position: absolute;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  position: relative;
  top: 0;
  top: 1rem;
  max-width: 1140px;
  padding: 0;
  margin: auto;
  z-index: 2;
}

#center_row {
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

#blue_main {
  width: 25%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 1;
}

.home_text {
  margin: 1.5rem 0;
  height: 75px;
  width: 75%;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
  color: white !important;
  font-weight: 500;
  text-align: center;
}

p a {
  color: black;
  font-weight: 500;
}

#countdown {
  background: #ffffff61;
  display: block;
  margin: auto;
  border-radius: 10px;
  border: 4px solid #ffffff61;
  width: 40%;
  font-size: 100%;
  overflow: hidden;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity_minus,
.quantity_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  margin: 0;
  background: #83beec;
  text-decoration: none;
}

.quantity_input {
  z-index: 4;
  width: 100%;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 2px solid #000;
  background: #000;
  color: #fff;
}

#btn-portal {
  display: block;
  margin: auto;
}

.btn-web-sd {
  background: #5159c5;
  border: 5px solid #5159c5;
}

.btn-web {
  padding: 10px 20px;
  color: #fff;
  font-size: 2em;
  width: 100%;
}

.btn-web:hover {
  cursor: pointer;
  text-decoration: none;
}

button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}

/* FIN PARAMETRE HOME 
----------------------------------------*/

/* DEBUT PARAMETRE SNOWBLUE
----------------------------------------*/
#snowblue {
  width: 100%;
  height: auto;
  padding: 130px 0;
  background-color: rgb(12, 12, 12);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#center_snowblue {
  margin: 0;
  margin-bottom: 50px;
}

#container {
  max-width: 1170px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#left_part {
  width: 50%;
  height: auto;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 100%;
}

.info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 35.2px;
}

.info_row h4 {
  font-style: bold;
  margin: 7px 0;
  font-size: 1.3rem;
}

.info_row_i {
  font-size: 100%;
  padding: 0 15px;
}

#row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#right_part {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#decal {
  width: 100px;
  height: 70px;
}

#size_gif {
  max-width: 100%;
  height: auto;
}

#gif_snowblue_ {
  padding-top: 0px;
}

#left_part p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0;
  color: grey;
  margin-top: 7px;
  margin: 0;
}

#left_part h2 {
  background: -o-linear-gradient(
    45deg,
    rgb(114, 204, 225),
    rgb(195, 220, 225),
    rgb(0, 219, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(114, 204, 225),
    rgb(195, 220, 225),
    rgb(0, 219, 255)
  );
  text-shadow: 0 0 32px rgba(114, 204, 225, 0.79);
}

.info_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(
    45deg,
    rgb(0, 255, 250),
    rgb(107, 107, 148),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(0, 255, 250),
    rgb(107, 107, 148),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 15px;
  font-size: 44px;
}

.info_row_align {
  padding: 0 15px;
  word-break: break-word;

  -webkit-box-flex: 0;

  -ms-flex: 0 0 75%;

  flex: 0 0 75%;
  max-width: 75%;
}

/* FIN PARAMETRE SNOWBLUE
----------------------------------------*/

/* DEBUT PARAMETRE SHOWCASE
----------------------------------------*/
#showcase {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0px 30px;
}

#showcase h2 {
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  text-shadow: 0 0 32px rgba(130, 185, 255, 0.79);
}

#showcase img {
  width: 100%;
  height: auto;
  margin: 30px 20px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#showcase img:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.swiper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: auto;
  line-height: 24px;
  position: relative;
  z-index: 5;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-scrollbar {
  position: static !important;
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  background-color: #b2b2db !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(80, 139, 232)),
    color-stop(rgb(8, 161, 255)),
    to(rgb(0, 136, 255))
  ) !important;
  background-image: -o-linear-gradient(
    left,
    rgb(80, 139, 232),
    rgb(8, 161, 255),
    rgb(0, 136, 255)
  ) !important;
  background-image: linear-gradient(
    90deg,
    rgb(80, 139, 232),
    rgb(8, 161, 255),
    rgb(0, 136, 255)
  ) !important;

  opacity: 1 !important;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  border-radius: 0 !important;
  border: none !important;

  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.btn-car {
  width: 50px;
  height: 6px;
  margin: 0px 4px;
  border: none;
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  cursor: pointer;
}

/* FIN PARAMETRE SNOWBLUE
----------------------------------------*/

/* DEBUT PARAMETRE ROADMAP
----------------------------------------*/
#roadmap {
  background: #191919;
  padding: 70px 0;
}

#white {
  margin-top: 0px;
  text-transform: uppercase;
  background: -o-linear-gradient(
    45deg,
    rgb(0, 255, 255),
    rgb(192, 192, 246),
    rgb(0, 255, 221)
  );
  background: linear-gradient(
    45deg,
    rgb(0, 255, 255),
    rgb(192, 192, 246),
    rgb(0, 255, 221)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

#roadmap h2 {
  background: -o-linear-gradient(
    45deg,
    rgb(135, 181, 214),
    rgb(57, 148, 203),
    rgb(190, 215, 241)
  );
  background: linear-gradient(
    45deg,
    rgb(135, 181, 214),
    rgb(57, 148, 203),
    rgb(190, 215, 241)
  );
  text-shadow: 0 0 32px rgba(57, 148, 203, 0.79);
}

.container_roadmap {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  padding: 0 1.25rem;
}

.col_roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  padding-bottom: 2.5rem;
}

.line_roadmap {
  height: 4rem;
  width: 1px;
  margin-bottom: 2.25rem;
  background-color: rgb(126, 225, 255);
}

.percentage {
  font-size: 3rem;
  line-height: 1.75rem;
  color: rgb(126, 225, 255);
}

.col_roadmap p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3.5rem;
  text-align: center;
}

/* FIN PARAMETRE ROADMAP
----------------------------------------*/

/* DEBUT PARAMETRE TEAM 
----------------------------------------*/
#team {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 0;
  width: 100%;
  position: relative;
  margin: 0;
}

#team h2 {
  background: -o-linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(133, 199, 238),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(133, 199, 238),
    rgb(255, 255, 255)
  );
  text-shadow: 0 0 32px rgba(133, 199, 238, 0.79);
}

.container_team {
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#row_content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: static;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.define h4 {
  color: #f5f5f5;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.define p {
  color: #8e8e8e;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.define {
  margin-bottom: 30px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 33%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  background-color: #1e1e1e;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-clip: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card img {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
}

.card:hover {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  background: -o-linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(103, 189, 238),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(103, 189, 238),
    rgb(255, 255, 255)
  );
}

.card:hover h4 {
  color: black;
}

.card:hover p {
  color: black;
}

.bar {
  height: 100px;
  width: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

#place-bar1 {
  top: -150px;
  background: -o-linear-gradient(
    45deg,
    rgb(195, 202, 255),
    rgb(137, 161, 218),
    rgb(165, 165, 242)
  );
  background: linear-gradient(
    45deg,
    rgb(195, 202, 255),
    rgb(137, 161, 218),
    rgb(165, 165, 242)
  );
}

/* FIN PARAMETRE TEAM 
----------------------------------------*/

/* DEBUT PARAMETRE FAQ 
----------------------------------------*/
#faq {
  width: 100%;
  height: auto;
  padding: 130px 0;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#place-bar2 {
  top: 180px;
  background: -o-linear-gradient(
    45deg,
    rgb(106, 155, 219),
    rgb(172, 172, 226),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(106, 155, 219),
    rgb(172, 172, 226),
    rgb(255, 255, 255)
  );
}

#title_faq {
  font-size: 3rem;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#faq p {
  margin: 2rem 0;
  color: #5e5e5e;
}

.accordion h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  color: #5e5e5e;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
}

.accordion button {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.faq_transition:hover h2 {
  cursor: pointer;
  color: rgb(103, 189, 238);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  -o-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.5rem;

  margin: 2em 0;
}
/* FIN PARAMETRE FAQ
----------------------------------------*/

/* DEBUT PARAMETRE COPYRIGHT 
----------------------------------------*/

footer {
  background-color: black;
  color: white;
  padding: 15px 0;
}

#orange {
  color: orange;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 90vh;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* MEDIA QUERIES
--------------------- */

@media screen and (max-width: 1024px) {
  #home {
    max-width: 100%;
  }

  #topnav_menu {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .li {
    display: none;
  }

  .logo {
    width: 60px;
    margin-left: 15px;
  }

  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  #list_menu {
    visibility: hidden;
    width: 20%;
  }

  #list_menu.active {
    left: 0;
  }

  #menu img {
    width: 40%;
    position: absolute;
  }

  #blue_main {
    width: 40%;
  }

  .home_text {
    height: auto;
    width: 100%;
    font-size: 1.5rem;
  }

  #countdown {
    width: 90%;
  }

  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  h2 {
    font-size: 3rem;
  }

  #snowblue #row {
    width: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  #left_part {
    width: 100%;
    padding: 0px;
  }

  #left_part p {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .white {
    text-align: center;
  }

  #right_part {
    max-width: 100%;
  }

  #gif_snowblue_ {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .info_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35.2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info_row_align {
    max-width: 100%;
  }

  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #center_snowblue h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  div#decal {
    width: 0px;
    height: 0px;
  }

  .container {
    max-width: 1170px;
  }

  #row_content_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
  }
  .define {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .in-view div {
    padding-right: 0px;
  }

  footer .row_text_center {
    width: 100%;
  }

  .timeline ul li div {
    padding: 10px;
  }
  .timeline ul li::after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li.in-view::after {
    background: #8c71dd;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li:nth-child(odd) div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .timeline ul li:nth-child(even) div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .timeline ul li.in-view div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: none;
    opacity: none;
  }
  .social {
    display: none;
  }

  .icon_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    background-color: black;
  }

  .social_responsive {
    font-size: 30px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 540px) {
  #row_content_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .title_section {
    font-size: 50px;
  }
}

@media screen and (max-width: 505px) {
  #row_content_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .define {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}

@media all and (max-width: 374px) {
  #home {
    max-width: 100%;
  }

  #topnav_menu {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .social {
    display: none;
  }

  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  #list_menu {
    visibility: hidden;
    width: 20%;
  }

  #menu img {
    width: 56%;
    position: absolute;
  }

  .li {
    display: none;
  }

  #blue_main {
    width: 60%;
  }

  .home_text {
    height: auto;
    width: 100%;
    font-size: 1.5rem;
  }

  .logo {
    width: 40px;
    margin-left: 15px;
  }

  div#countdown {
    width: 90%;
  }

  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 5px;
  }

  .title_section {
    font-size: 40px;
    padding: 0;
    word-wrap: break-word;
  }

  #snowblue #row {
    width: 100%;
  }

  #left_part {
    width: 100%;
    padding: 0px;
  }

  #left_part p {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .white {
    text-align: center;
  }

  #right_part {
    max-width: 100%;
  }

  #gif_snowblue_ {
    max-width: 100%;
    height: auto;
  }

  .info_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35.2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .info_row_align {
    max-width: 100%;
  }

  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  div#decal {
    width: 0px;
    height: 0px;
  }

  .container {
    width: auto;
    padding: 5px;
  }

  #row_content_center {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
  }

  .define {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container_team {
    max-width: 100%;
    padding: 5px;
    height: auto;
    margin: 0%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .in-view div {
    padding-right: 0px;
  }

  footer .row_text_center {
    width: 100%;
  }

  .timeline ul li div {
    padding: 10px;
  }

  .timeline ul li::after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li.in-view::after {
    background: #8c71dd;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li:nth-child(odd) div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .timeline ul li:nth-child(even) div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .timeline ul li.in-view div {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: none;
    opacity: none;
  }

  .social {
    display: none;
  }

  .icon_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    background-color: black;
  }

  .social_responsive {
    font-size: 30px;
    margin: 0 10px;
  }

  .swiper-pagination-bullet {
    width: 30px !important;
  }
}
