/* GENERAL SETTINGS
------------------------- */
html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("police/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("police/Gilroy-ExtraBold.ttf");
}
@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}


body {
  margin: 0;
  background: rgba(166, 175, 189, 0.3);
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy-ExtraBold", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* GENERAL SETTINGS 
 -------------------------------------*/

/* DEBUT HOME
----------------------------------------*/

.topnav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  line-height: 24px;
  -webkit-transition: all 0.15s ease-out 0s !important;
  -o-transition: all 0.15s ease-out 0s !important;
  transition: all 0.15s ease-out 0s !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_bar_scroll {
  background-color: rgba(166, 175, 189, 0.3) !important;
  background-color: #1111119e !important;
  -webkit-transition: all 0.15s !important;
  -o-transition: all 0.15s !important;
  transition: all 0.15s !important;
}

.icon_responsive {
  display: none;
}

.topnav_link {
  color: white;
  padding: 12px;
  text-decoration: none;
}

#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

#topnav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: sticky;
  z-index: 5;
}

.social {
  list-style-type: none;
}

nav p {
  padding: 9px;
  margin-left: 46.2px;
  margin-right: 46.2px;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.li:hover {
  color: #0edb0e;
}

.fab:hover {
  color: #0edb0e;
}

li {
  padding: 10px;
}

.li {
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

img.logo-main {
  width: 18%;
  max-width: 100%;
  height: auto;
  padding-right: 9px;
}

#slider {
  background-image: url("images/background_img.jpg");
  background-repeat: no-repeat;
  position: relative;

  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  max-width: 100%;
  height: 100vh;
  padding: 5% 0;
  z-index: 3;
}

#home {
  position: relative;
  top: 0;
  top: 1rem;
  max-width: 1140px;
  padding: 0;
  margin: auto;
  z-index: 2;
}

#center_row {
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

#yeti_main {
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0;
  -o-object-fit: contain;
     object-fit: contain;

  z-index: 1;
}

.home_text {
  margin: 1.5rem 0;
  height: 75px;
  width: 75%;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;

  text-align: center;
}

p a {
  color: rgb(243, 157, 96);
}

div#countdown {
  background: #ffffff61;
  display: block;
  margin: auto;
  border-radius: 10px;
  border: 4px solid #ffffff61;
  width: 40%;
  font-size: 100%;
  overflow: hidden;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity_minus,
.quantity_plus {
  display: block;
  width: 70px;
  height: auto;
  margin: 0;
  background: #2a3050;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.quantity_input {
  z-index: 4;
  width: 100%;
  height: auto;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 2px solid #000;
  background: #000;
  color: #fff;
}

/* .launch {
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  text-align: center;
} */

#btn-portal {
  display: block;
  margin: auto;
}

.btn-web-sd {
  background: #194052;
  border: 5px solid #194052;
}

.btn-web {
  padding: 10px 20px;
  color: #fff;
  font-size: 2em;

  width: 100%;
}

.btn-web:hover {
  cursor: pointer;
  text-decoration: none;
}

button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}

/* FIN HOME 
----------------------------------------*/

/* DEBUT PARAMETRE SNOWBLUE
----------------------------------------*/
#snowblue {
  width: 100%;
  height: auto;
  padding: 130px 0;
  background-color: rgb(12, 12, 12);
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#center_snowblue {
  margin: 0;
  margin-bottom: 50px;
}

#container {
  max-width: 1170px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left_part {
  width: 50%;
  height: auto;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 100%;
}

#p_first {
  padding: 0;
  margin-top: 25px !important;
  margin: 0;
}

.white {
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(rgb(255, 255, 255)),
    color-stop(rgb(80, 129, 158)),
    to(rgb(255, 255, 255))
  );
  background: -o-linear-gradient(
    left,
    rgb(255, 255, 255),
    rgb(80, 129, 158),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(80, 129, 158),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0;
}

.info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 35.2px;
}

.info_row h4 {
  font-style: bold;
  margin: 7px 0;
  font-size: 1.3rem;
}

.info_row_i {
  font-size: 100%;
  padding: 0 15px;
}

#row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#right_part {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#decal {
  width: 100px;
  height: 70px;
}

#size_gif {
  max-width: 100%;
  height: auto;
}

#gif_yetis_ {
  padding-top: 0px;
}

#left_part p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0;
  color: grey;
  margin-top: 7px;
  margin: 0;
}

#left_part h2 {
  margin-top: 0px;
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(
    45deg,
    rgb(0, 255, 250),
    rgb(107, 107, 148),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(0, 255, 250),
    rgb(107, 107, 148),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 15px;
  width: auto;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 44px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info_row_align {
  padding: 0 15px;
  word-break: break-word;

  -webkit-box-flex: 0;

      -ms-flex: 0 0 75%;

          flex: 0 0 75%;
  max-width: 75%;
}

/* FIN PARAMETRE SNOWBLUE
----------------------------------------*/

/* DEBUT PARAMETRE SHOWCASE
----------------------------------------*/
#showcase {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 30px;
}

#showcase h2 {
  font-size: 70px;
  font-family: "Gilroy";
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0;
  margin-bottom: 25px;
}

#showcase img {
  width: 100%;
  height: auto;
  margin: 30px 20px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#showcase img:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.swiper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: auto;
  line-height: 24px;
  position: relative;
  z-index: 5;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-scrollbar {
  position: static !important;
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  background-image: -o-linear-gradient(
    45deg,
    rgb(50, 154, 153),
    rgb(180, 180, 212),
    rgb(140, 156, 195)
  ) !important;
  background-image: linear-gradient(
    45deg,
    rgb(50, 154, 153),
    rgb(180, 180, 212),
    rgb(140, 156, 195)
  ) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgb(255, 255, 255)),
    color-stop(rgb(0, 243, 255)),
    to(rgb(0, 76, 255))
  ) !important;
  background-image: -o-linear-gradient(
    left,
    rgb(255, 255, 255),
    rgb(0, 243, 255),
    rgb(0, 76, 255)
  ) !important;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(0, 243, 255),
    rgb(0, 76, 255)
  ) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  border-radius: 0 !important;
  border: none !important;

  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.btn-car {
  width: 50px;
  height: 6px;
  margin: 0px 4px;
  border: none;
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  cursor: pointer;
}

.btn-car {
  width: 50px;
  height: 6px;
  margin: 0px 4px;
  border: none;
  background: -o-linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  background: linear-gradient(
    45deg,
    rgb(191, 238, 237),
    rgb(123, 123, 228),
    rgb(191, 238, 237)
  );
  cursor: pointer;
}
/* FIN PARAMETRE SNOWBLUE
----------------------------------------*/

/* DEBUT PARAMETRE ROADMAP
----------------------------------------*/
#roadmap {
  background: #191919;
  padding: 70px 0;
}

#white {
  margin-top: 0px;
  text-transform: uppercase;
  background: -o-linear-gradient(
    45deg,
    rgb(0, 255, 255),
    rgb(192, 192, 246),
    rgb(0, 255, 221)
  );
  background: linear-gradient(
    45deg,
    rgb(0, 255, 255),
    rgb(192, 192, 246),
    rgb(0, 255, 221)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.timeline ul {
  background: #191919;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  padding: 0px;
  width: 4px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(178, 223, 235);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;

  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 200;
  padding: 15px;
  background: #00ffa3;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.timeline ul li div p {
  margin: 0px;
  font-weight: normal;
  text-transform: none;
}

.timeline time {
  font-size: 1.2rem;

  font-family: "Gilroy ExtraBold";
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #00ffa3 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -465px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #00ffa3;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #8c71dd;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  -webkit-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #00ffa3 transparent transparent;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* FIN PARAMETRE ROADMAP
----------------------------------------*/

/* DEBUT PARAMETRE TEAM 
----------------------------------------*/
#team {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  width: 100%;
  position: relative;
  margin: 0;
}

#team h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  background: -o-linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(133, 199, 238),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(133, 199, 238),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 15px;
  margin-bottom: 50px;
}

.container_team {
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#row_content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: static;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.define h4 {
  color: #f5f5f5;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.define p {
  color: #8e8e8e;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.define {
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  background-color: #1e1e1e;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  background-clip: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card img {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: static;
}

.card:hover {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;

  background: -o-linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(103, 189, 238),
    rgb(255, 255, 255)
  );

  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(103, 189, 238),
    rgb(255, 255, 255)
  );
}

.card:hover h4 {
  color: black;
}

.card:hover p {
  color: black;
}

.bar {
  height: 100px;
  width: 5px;

  -ms-flex-item-align: center;

      -ms-grid-row-align: center;

      align-self: center;
  position: relative;
}
#place-bar1 {
  top: -150px;
  background: -o-linear-gradient(
    45deg,
    rgb(184, 191, 242),
    rgb(145, 145, 212),
    rgb(157, 157, 220)
  );
  background: linear-gradient(
    45deg,
    rgb(184, 191, 242),
    rgb(145, 145, 212),
    rgb(157, 157, 220)
  );
}

#place-bar2 {
  bottom: -150px;
  background: -o-linear-gradient(
    45deg,
    rgb(106, 155, 219),
    rgb(172, 172, 226),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    45deg,
    rgb(106, 155, 219),
    rgb(172, 172, 226),
    rgb(255, 255, 255)
  );
}
/* FIN PARAMETRE TEAM 
----------------------------------------*/

/* DEBUT PARAMETRE FAQ 
----------------------------------------*/
#faq {
  width: 100%;
  height: auto;
  padding: 130px 0;
  background-color: #f5f5f5;
}

#title_faq {
  font-size: 3rem;

  margin-top: 0px;
  text-transform: uppercase;

  margin-bottom: 50px;
}

#faq p {
  margin: 2rem 0;
  color: #5e5e5e;
}

.accordion h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  color: #5e5e5e;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.accordion button {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.faq_transition:hover h2 {
  cursor: pointer;
  color: rgb(103, 189, 238);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  -o-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.5rem;

  margin: 2em 0;
}
/* FIN PARAMETRE FAQ
----------------------------------------*/

/* DEBUT PARAMETRE COPYRIGHT 
----------------------------------------*/

footer {
  background-color: black;
  color: white;
  padding: 15px 0;
}

canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 90vh;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

/* MEDIA QUERIES
--------------------- */

@media all and (min-width: 374px) and (max-width: 1024px) {
  #home {
    max-width: 100%;
  }

  #topnav_menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .li {
    display: none;
  }

  .main_logo {
    width: 56%;
    margin-left: 15px;
  }

  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  #list_menu {
    visibility: hidden;
    width: 20%;
  }

  #list_menu.active {
    left: 0;
  }

  #menu img {
    width: 56%;
    position: absolute;
  }

  #yeti_main {
    width: 60%;
  }

  .home_text {
    height: auto;
    width: 100%;
    font-size: 1.5rem;
  }

  div#countdown {
    width: 90%;
  }

  #container {
    max-width: 1170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: baseline;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  h2 {
    font-size: 3.5rem;
  }

  #snowblue #row {
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  #left_part {
    width: 100%;
    padding: 0px;
  }

  #left_part p {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .white {
    text-align: center;
  }

  #right_part {
    max-width: 100%;
  }

  #gif_yetis_ {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .info_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35.2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .info_row_align {
    max-width: 100%;
  }

  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div#decal {
    width: 0px;
    height: 0px;
  }

  .container_himalaya {
    max-width: 100%;
  }

  #showcase h2 {
    font-size: 60px;
  }

  .container {
    max-width: 1170px;
  }

  .container h2 {
    font-size: 60px;
  }

  #row_content_center {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
  }
  .define {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .in-view div {
    padding-right: 0px;
  }

  footer .row_text_center {
    width: 100%;
  }

  .timeline ul li div {
    padding: 10px;
  }
  .timeline ul li::after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li.in-view::after {
    background: #8c71dd;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li:nth-child(odd) div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .timeline ul li:nth-child(even) div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .timeline ul li.in-view div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    visibility: none;
    opacity: none;
  }
  .social {
    display: none;
  }

  .icon_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    background-color: black;
  }

  .social_responsive {
    font-size: 30px;
    margin: 0 10px;
  }
}

@media all and (max-width: 374px) {
  #home {
    max-width: 100%;
  }

  #topnav_menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .social {
    display: none;
  }

  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  #list_menu {
    visibility: hidden;
    width: 20%;
  }

  #menu img {
    width: 56%;
    position: absolute;
  }

  .li {
    display: none;
  }

  #yeti_main {
    width: 60%;
  }

  .home_text {
    height: auto;
    width: 100%;
    font-size: 1.5rem;
  }

  .main_logo {
    width: 56%;
    margin-left: 15px;
  }

  div#countdown {
    width: 90%;
  }

  #container {
    max-width: 1170px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: baseline;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  h2 {
    font-size: 3.5rem;
    width: 100%;
    word-wrap: break-word;
  }

  #snowblue #row {
    width: 100%;
  }

  #left_part {
    width: 100%;
    padding: 0px;
  }

  #left_part p {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .white {
    text-align: center;
  }

  #right_part {
    max-width: 100%;
  }

  #gif_yetis_ {
    max-width: 100%;
    height: auto;
  }

  .info_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35.2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .info_row_align {
    max-width: 100%;
  }

  #row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div#decal {
    width: 0px;
    height: 0px;
  }

  .container_himalaya {
    max-width: 100%;
  }

  #showcase h2 {
    max-width: 100%;
  }

  .container {
    width: auto;
  }

  .container h2 {
    max-width: 100%;
  }

  #row_content_center {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
  }

  .define {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    padding-right: 15px;
    padding-left: 15px;
  }

  .container_team {
    max-width: 1170px;
    height: auto;
    margin: 0%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .accordion h2 {
    font-size: 20px;
  }

  .in-view div {
    padding-right: 0px;
  }

  footer .row_text_center {
    width: 100%;
  }

  .timeline ul li div {
    padding: 10px;
  }

  .timeline ul li::after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li.in-view::after {
    background: #8c71dd;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .timeline ul li:nth-child(odd) div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .timeline ul li:nth-child(even) div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .timeline ul li.in-view div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    visibility: none;
    opacity: none;
  }

  .social {
    display: none;
  }

  .icon_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    background-color: black;
  }

  .social_responsive {
    font-size: 30px;
    margin: 0 10px;
  }
}
